* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    display:flex;
    justify-content:center;
    align-items:center; 
}
.container {
    height: 520px;
    width: 250px;
    border:2px solid gray;
    box-shadow: 2px 1px;
    border-radius: 30px;
}
.header{
    width: 100%;
    height:65px;
    color:white;
}
#stereo{
    display:block;
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top:20px;
    bottom: auto;
    background: rgba(25,25,25,1);
    height: 4px;
    width: 35px;
    border-radius: 50px;
    box-shadow: inset 1px 1px 2px rgba(253, 249, 249, 0.75), inset -1px -1px 2px rgba(253, 249, 249, 0.75);
    }
    
    #camera{
    display:block;
    position: relative;
    left: 75px;
    right:auto;
    top:17px;
    bottom: auto;
    background: rgba(25,25,25,1);
    height: 7px;
    width: 7px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgba(243, 177, 177, 0.75), inset -1px -1px 2px rgba(253, 249, 249, 0.75);
    }
#inner-header{
    width: 100%;
    height: 20px;

    background: rgba(10,10,10,1);
    color:white
}
#status{
    width: 20%;
    height: 100%;
    float:right;
}
.input{
    color:white;
    width: 100%;
    height:100px;
    background-color:black;
}
.button{

    color:white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-shadow: none;
    width: 100%;
    background-color:black;
}
.first-column,
.second-column,
.third-column,
.fourth-column,
.fifth-column{
    width: 100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:black;
}
div p{
    background-color: rgba(100,100,100,1);
    border-radius: 50px;
    width:40px;
    margin:auto;
    padding:8px;
    text-align: center;
}
.right{
    background-color:orange;
}
#zero{
    width:90px;
    padding-left:10px;
}
#top-left{
    background: darkgrey;
    font-size: 15px;
}